{% extends 'base.html.twig' %}

{% block body %}
    <header class="header">
        <div class="container">
            <h1>Анализатор</h1>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ form(form) }}
                </div>
            </div>
            {% block result %}
            {% endblock %}
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-end">
                    <p class="fs-5">Created by Grishak Vladislav</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}